@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Vithkuqi:wght@400;600;700&family=Roboto:wght@100;300&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
:root{
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --clr-white: 0 0% 100%;
    --fs-500: 1.75rem;
    --ff-sans-normal: "Barlow", sans-serif;
    --fs-400: 1.125rem;
    --clr-light: 231 77% 90%;
}
html body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--ff-sans-normal);
    background: url(image/home-bg.jpeg);
    background-size:cover;
    
   
}
.container{
    width: 100%;
    height:130px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
}
.navbar{
    width: 100%;
    height: 80px;
   
    display: flex;
    position: relative;
}
.logo{
    width:200px;
    height: 80px;
  
    display:flex;
    justify-content: center;
    align-items: center;
}
 .logo img{
    border-radius: 50px;
    width: 60px;
} 
.vertical-line{
    width: 680px;
    height: 2px;
    border: 1px solid gray;
    margin-top: 37px;
    position: absolute;
    left: 155px;
    z-index: 2;
}
.navlinks{
width: 650px;
height: 80px;
backdrop-filter: blur(10px);
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
position: absolute;
left: 53%;

}

.navlinks li a{
    color: #f5f6f7ff;
    font-family: var(--ff-sans-cond);
    letter-spacing: 2.7px;
    font-size:13px;
    padding: 5px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.navlinks li a span{
    opacity: 1;
    padding: 5px;
    font-weight:700;
    font-size: 13px;
}
.navlinks li a:hover{
    border-bottom: 4px solid white;
    transition: 0.2s;
}
.active{
    border-bottom: 4px solid white;
}
.explorer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.exp-mainbox{
    width:66%;
    height:auto ;
    margin-top: 4%;
    display: flex;
}
.exp-sub-box{
    width: 50vw;
    height: 75vh;
 
    display: flex;
    justify-content:flex-end;
    align-items: flex-start;
   
}

.epx-content{
    width: 40vw;
    height:auto;
  
    margin-top: 7%;
}
.epx-content h1{
    color:hsl(var(--clr-light));
    text-align:left;
    letter-spacing: 4.75px;
    font-family: var(--ff-sans-cond);
    font-size:var(--fs-400);
    font-weight: 400;
    margin-left: 54px;
    
}
.epx-content span{
    margin-left: 7%;
    color: hsl(var(--clr-white));
    letter-spacing: 5px;
    font-size:var(--fs-900);
    text-align: center;
    font-family:var(--ff-serif);
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1;
    box-sizing: border-box;
}
.epx-content p{
    color: #fefefe;
    font-weight: 400;
    text-align: justify;
    font-family: var(--ff-sans-normal);
    margin-left: 8%;
    line-height: 1.50;
    max-width: 13cm;
    font-size: 1.10rem;
   

}
.esb2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.animate-main-ex{
    width: 264px;
    height: 264px;
    border-radius: 200px;
    backdrop-filter: blur(10px);
 
    transition: width 1s, height 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.animate-main-ex:hover{
    width: 380px;
    height:380px;
    display: flex;
    border-radius: 200px;
    justify-content: center;
    align-items: center;
   backdrop-filter: blur(20px);
}

.animat-sub-ex{
    width: 264px;
    height: 264px;
    border-radius: 130px;
    background-color: #ffffff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.animat-sub-ex li a{
    color: black;
    font-size: 2rem;
    font-weight: 300;
    font-family:var(--ff-serif);
}
#menu-bar{
    display: none;
}
#checkbox{
   width: 100px;
   height: 80px;
   font-size: 2rem;
   color: hsl(var(--clr-white));
   position: absolute;
   left: 89%;
   display: flex;
   justify-content: center;
   align-items: center;
   display: none;

}
@media(max-width:800px){
    .mobile{
    background: url(image/background-home-mobile.jpg);
     background-size:cover;
     overflow-x: hidden;

    }
     .container{
        width: 100vw;
        height:170px;
     
        display: flex;
        justify-content: center;
        align-items: center;
 
     
    }
    .navbar{
        width: 100vw;
        height: 80px;
        display: flex;
        margin-top: 2%;
       
    }
    .logo{
        width:30%;
        height: 80px;
        display:flex;
        justify-content: center;
        align-items: center;

    }
     .logo img{
        border-radius: 50px;
        width: 60px;
    } 
    .vertical-line{
      display: none;
    }
     .navlinks{
        width:46vw;
         height:713px;   
         backdrop-filter: blur(200px);
        margin-top:-7;
        margin-left:auto;
       display: inline-block;
       display: flex;
       flex-direction: column;
       align-items: flex-start; 
       
       display: none;
       z-index: 1;
    } 
    .navlinks li a{
        color: #f5f6f7ff;
        font-family: var(--ff-sans-cond);
        letter-spacing: 2.7px;
        font-size: 1rem;
        padding: 5px;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navlinks li a:hover{
        border-bottom: 4px solid white;
        transition: 0.2s;
    }
    .active{
        border-bottom: 4px solid white;
    }
    #checkbox{
        font-size: 2.50rem;
        color: hsl(var(--clr-white));
        justify-content: flex-end;
        align-items: center;
        display: block;
        width: 100vw;
        position: relative;
        left:-43px;
        display: flex;
        z-index: 2;
    }
 
    #checkbox:hover{
        cursor: pointer;
      
    }
    #menu-bar:checked~ .navlinks{
        display: flex;
    }
  #cl{
        display: none;
    }
   #menu-bar:checked~ label #fb{
         display: none;
   }
   #menu-bar:checked~ label #cl{
    display: block;
}
    .explorer{
        width: 100vw;
        height: auto;
   
        display: flex;
        justify-content: center;
    }
    .exp-mainbox{
        width: 90vw;
        height:auto;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .exp-sub-box{
        width: 90vw;
        height: auto;
    
        display: flex;
        justify-content:flex-end;
        align-items: flex-start;
       
    }
    .epx-content{
        width: 90vw;
        height:auto;
        
        display: flex;
        flex-direction: column;
         margin-top: 0%; 
         justify-content: center;
    }
    .epx-content h1{
        color:hsl(var(--clr-light));
        text-align:center;
        letter-spacing: 4.75px;
        font-family: var(--ff-sans-cond);
        font-size:var(--fs-400);
        font-weight: 400;
        margin-left: 0%;
        
    }
    .epx-content p{
        color: #fefefe;
        font-weight: 400;
        text-align: justify;
        font-family: var(--ff-sans-normal);
        margin-left: 8%;
        line-height: 1.80;
        max-width: 50cm;
        font-size: 1.10rem;
       
    
    }
    .epx-content span{
        width: 90vw;
        height:auto;
        margin: 0%;
        color: hsl(var(--clr-white));
        letter-spacing: 5px;
        font-size:var(--fs-900);
        text-align: center;
        font-family:var(--ff-serif);
        font-weight: 400;
        text-transform: uppercase;
        line-height: 1.1;
        box-sizing: border-box;
    }
    .esb2{
        display: flex;
        justify-content: center;
        align-items: center;
          height: 45vh;
          z-index: 0;
    }
    .animate-main-ex{
        width: 264px;
        height: 264px;
        border-radius: 200px;
        transition: width 1s, height 1s;
        display: flex;
        justify-content: center;
        align-items: center;
      
    }
    .animate-main-ex:hover{
        width: 380px;
        height:380px;
        display: flex;
        border-radius: 300px;
        justify-content: center;
        align-items: center;
        background-color: rgba(84, 81, 81, 0.4);
        -webkit-backdrop-filter: sepia(100%);
        backdrop-filter: sepia(100%);
    }
    
    .animat-sub-ex{
        width: 264px;
        height: 264px;
        border-radius: 130px;
        background-color: #ffffff;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .animat-sub-ex li a{
        color: black;
        font-size: 2rem;
        font-weight: 300;
        font-family:var(--ff-serif);
    }
} 
